mixin demoPost(post)
  - post = JSON.parse(post)
  h2= post.title
  p=post.content.substring(0,post.content.indexOf(" ", 120))
    |...
  a.btn.btn-primary(href="/posts/"+post.id) Continue Reading &raquo;

html
  head
    title #{title}
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/bootstrap-theme.min.css", rel="stylesheet")
  body(style="padding-top: 50px; padding-bottom: 20px")
    nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") My Blog
        .navbar-collapse.collapse(id="navbar")
          ul.nav.navbar-nav
            li.active
              a(href="/") Home
            li
              a(href="/posts") Posts
            li
              a(href="#") About Me
    block content

  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="js/bootstrap.min.js")
